In [1]:
#1st DataFrame

import pandas as pd

df1 = pd.DataFrame ({
    "Student_ID" : [1,2,3],
    "Name" : ["Alice", "Bob", "Charlie"]
})

print(df1)

   Student_ID     Name
0           1    Alice
1           2      Bob
2           3  Charlie

In [4]:
df2 = pd.DataFrame({
    "Student_ID" : [1,2,3],
    "Grade" : ["B", "A", "A+"]

})

print(df2)

   Student_ID Grade
0           1     B
1           2     A
2           3    A+

In [5]:
merged_dataframe = pd.merge (df1, df2, on = "Student_ID")
print(merged_dataframe)

   Student_ID     Name Grade
0           1    Alice     B
1           2      Bob     A
2           3  Charlie    A+